.header-background {
  background: #fcba03;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.container-right {
  position: absolute;
  right: 10px;
  // margin-right: 10px;
}

.header-icon {
  color: #ffffff;
}

.header-icon:hover {
  cursor: pointer;
}

.header-form {
  margin-left: 10px;
}

.fab-button {
  background-color: #0345fc;
  margin-left: 10px;
}

.search-input {
  margin-right: 5px;
}

.search-button {
  background-color: #0345fc;
  color: #fff;
}

.side-menu {
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}