table {
    width: 100%;
  }
  
  .home-icon:hover {
    cursor: pointer;
  }

  .warehouse-container {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .warehouse-group-container {
    margin-left: 10px;
    margin-top: 20px;
  }