<div class="container">
    <div class="row">
      <div class="col-11">
        <h1>{{data?.message}}</h1>
      </div>
      <div class="col-1 text-right">
          <mat-icon class="close-icon" (click)="close()">close</mat-icon>
      </div>
    </div>
  
  <div class="row">
      <form [formGroup]="customerForm" class="form-container">
  
        <div class="row">
          <div class="col-7">
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput placeholder="Enter name...">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-label>Address</mat-label>
              <input formControlName="address" matInput placeholder="Enter address...">
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col-2">
            <mat-checkbox formControlName="isActive">Active?</mat-checkbox>
          </div>
          <div class="col-5">
            <mat-form-field>
              <mat-label>Member Since</mat-label>
              <input matInput formControlName="memberSinceDate" placeholder="Enter DD/MM/YYYY">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone" placeholder="Enter phone...">
            </mat-form-field>
          </div>
        </div>
      </form>
  </div>
  
  <div  class="row">
    <div class="col-12 text-center">
      <button *ngIf="!data?.value" mat-raised-button color="accent" (click)="submit()">Submit</button>
      <button *ngIf="data?.value" mat-raised-button color="primary" (click)="update()">Update</button>
    </div>
  </div>
