h1 {
    font-weight: 600;
  }
  
  .close-icon {
    cursor: pointer;
  }
  
  .form-container {
    width: 100%;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
  }
  
  mat-form-field {
    width: 100%;
  }